@import "variables";
@import "mixins";

body {
  font-family: $fontLight;
  font-size: 18px;
  background: #fff;
}
a:hover, a:focus {
  text-decoration: none;
  color: $white;
  outline: 0;
}

@import "topmenu";
@import "slick";
@import "slider";
@import "service";
@import "map";
@import "footer";



@import "mediaqueries";