
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
  .menu {
    &__phone {
      display: none;
    }
  }
  .slider {
    &__content-description {
      padding: 0 60px;
    }
  }
}

@media only screen and (max-width : 768px) {
  .map {
    &__contact-info-wrapper {
      position: absolute;
      z-index: 3;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

@media only screen and (max-width : 480px) {
  .slider {
    &__content-heading {
      margin-top: 145px;
      font-size: 20px;
    }
    &__content-description {
      font-size: 18px;
    }
  }

  .service-product {
    &__heading {
      font-size: 20px;
    }
  }

  .map {
    &__contact-info-phone, &__contact-info-email, &__contact-info-site {
      font-size: 14px;
    }
    &__contact-info-address {
      font-size: 14px;
    }
  }

}
@media only screen and (max-width : 540px) {
  .menu {

    &__leftBlock {
      display: none;
    }
  }
}

@media only screen and (max-width : 375px) {

}

@media only screen and (max-width : 320px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}


@media only screen and (min-width : 1200px) {

}


@media only screen and (min-width : 992px) {


}


@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 480px) {

}