// Variables menu
$grayLight: #EFECEA;
$bgPopupMenu: rgba(#1d929c,1);
$menyScroll: rgba(#2b225b,.9);
$tiffani: #1d929c;
$tiffaniDarken: #29464a;

// Variables menu
$bgPopupMenu: rgba(#1d929c,1);
$menyScroll: rgba(#2b225b,.9);
$white: #d3e2e7;
$bgBody: #d3e2e7;
$gray: #5d5d5d;


// Variables fonts
$fontRegular: GothamProRegular;
$fontLight: GothamProLight;
$fontMedium: GothamProMedium;
$fontBold: GothamProBold;