.stubs {
  & .nav-tabs {
    display: inline-block;
    border-bottom: 1px solid rgba(#fff, .0);

    &>li {
      display: inline-block;
      float: none;
    }
  }
  & .nav-tabs>li.active>a, & .nav-tabs>li.active>a:focus, & .nav-tabs>li.active>a:hover {
    color: $tiffaniDarken;
    cursor: default;
    background-color: rgba(#fff, .0);
    border: 1px solid rgba(#fff, .0);
  }
  & .nav-tabs>li>a:hover {
    color: $gray;
    border-color: rgba(#fff, .0);
  }
  & .nav-tabs>li>a {
    color: $gray;
    font-family: $fontBold;
    text-transform: uppercase;

  }
  & .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(#fff, .0);
  }
  &__wrapper-heading {
    text-align: center;
  }
  &__tabs-heading-img {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 30px;
    & img {
      max-width: 100%;
    }
  }
  &__content-img {
    text-align: center;
    margin-bottom: 30px;
    & img {
      max-width: 100%;
    }
  }
  &__content-heading {
    text-align: center;
    font-family: $fontBold;
    color: $tiffaniDarken;
    margin: 30px 0;
    text-transform: uppercase;
  }
  & .tab-content {
    margin-top: 100px;
  }
  &__size-plug {
    //margin: 30px 0;
    text-align: center;
    & >div:last-child {
      border-bottom: 1px solid $tiffani;
    }
  }
  &__size-plug-item {
    //display: inline-block;
    border-top: 1px solid $tiffani;
    //border-left: 1px solid $tiffani;
    border-right: 1px solid $tiffani;
    padding: 3px 10px;
    text-align: center;
    color: $tiffani;
    font-size: 24px;
    min-width: 140px;
    width: 100%;
    &_active {
      border: 1px solid $gray;
      color: $gray;
    }
    &:focus {
      border: 1px solid $gray;
      color: $gray;
    }
    &:hover{
      color: $gray;
    }

  }
  &__size-plug-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    & >div:first-child {
      border-left: 1px solid $tiffani;
    }
  }
  &__button {
    text-align: center;
    margin: 30px;
  }
  &__btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #1d929c;
    color: #d3e2e7;
    transition: background-color .3s;
    &:hover, &:focus {
      background-color: darken($tiffani, 20%);
      color: $white;
    }
    &:focus {
      text-decoration: none;
      transform: translate(0, 2px);
    }
  }

}